hr {
  border: 2px solid red;
}

.popular_line {
  border: 2px solid black;
  width: 134px;
  margin: auto;
  margin-top: 3px;
}

.new_line {
  border: 2px solid black;
  width: 80px;
  margin: auto;
  margin-top: 3px;
}

.footer_line {
  border: 1px solid gray;
  margin-left: 40px;
  margin-right: 40px;
}

.product_line{
  border: 2px solid black;
  width: 70px;
}